<style>
    body{
        background-color: rgba(63, 130, 255, 0.669);
    }
    #blog_post{
        padding-top: 30px;
    }
    
</style>
<div class="container" id="blog_post">
    <h2>{{title}}</h2>
    <p>
        {{content}}
    </p>
</div>